    {{ form_start(form) }}


      {# Génération manuelle et éclatée : #}
        <div class="row mb-3">
            {# Génération du label. #}
            {{ form_label(form.nom, "Nom Douar", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.nom) }}
            <div class="col-sm-5">
                {# Génération de l'input. #}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row mb-3">
            {# Génération du label. #}
            {{ form_label(form.cercle, "Cercle", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.cercle) }}
            <div class="col-sm-5">
                {# Génération de l'input. #}
                {{ form_widget(form.cercle, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

         <div class="row mb-3">
            {# Génération du label. #}
            {{ form_label(form.commune, "Commune", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.commune) }}
            <div class="col-sm-5">
                {# Génération de l'input. #}
                {{ form_widget(form.commune, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row mb-3">
            {# Génération du label. #}
            {{ form_label(form.province, "Province", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.province) }}
            <div class="col-sm-5">
                {# Génération de l'input. #}
                {{ form_widget(form.province, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row mb-3">
            {# Génération du label. #}
            {{ form_label(form.Region, "Region", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.Region) }}
            <div class="col-sm-5">
                {# Génération de l'input. #}
                {{ form_widget(form.Region, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            {# Génération du label. #}
            {{ form_label(form.latitude, "Latitude", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.latitude) }}
            <div class="col-sm-5">
                {# Génération de l'input. #}
                {{ form_widget(form.latitude, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            {# Génération du label. #}
            {{ form_label(form.longitude, "Longitude", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.longitude) }}
            <div class="col-sm-5">
                {# Génération de l'input. #}
                {{ form_widget(form.longitude, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            {# Génération du label. #}
            {{ form_label(form.type, "Type Douar", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.type) }}
            <div class="col-sm-5">
                {# Génération de l'input. #}
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
  
    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
