{% extends 'base.html.twig' %}

{% block title %}CentreSoin{% endblock %}

{% block body %}
    <h1>CentreSoin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ centre_soin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ centre_soin.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ centre_soin.type }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ centre_soin.commune }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('centre_soin_index') }}">back to list</a>

    <a href="{{ path('centre_soin_edit', {'id': centre_soin.id}) }}">edit</a>

    {{ include('centre_soin/_delete_form.html.twig') }}
{% endblock %}
