{% extends 'base.html.twig' %}

{% block title %}Recherche par smi{% endblock %}

{% block body %}
   
   {% if f is defined %}
         <div >
         <h4>Recherche par SMI</h4>
         </div>
         {{ form_start(f) }}
          <div class="row mb-3">
            {# Génération du label. #}
            {{ form_label(f.smi, "SMI :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(f.smi) }}
            <div class="col-sm-2">
                {# Génération de l'input. #}
                {{ form_widget(f.smi, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
         <input class="btn btn-info" type="submit" name="recherche" value="Recherche" id="recherche" />
         {{ form_end(f) }}
     {% endif %}
     
     {% if message is defined %}
        <div class="alert alert-error" align="center">
         {{ message }}
         message
        </div>
     {% endif %}


{% endblock %}
